.nav-header {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: #0a192f;
    color: white;
    z-index: 3000;
    position: relative;
}

.ham-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ccd6f6;
    border-radius: 9px;
    transition: .25s ease-in-out;
}

.ham-menu span:nth-child(1) { top: 0; }
.ham-menu span:nth-child(2) { top: 10px; }
.ham-menu span:nth-child(3) { top: 20px; }

.ham-menu.active span:nth-child(1) { top: 10px; transform: rotate(135deg); }
.ham-menu.active span:nth-child(2) { opacity: 0; left: -60px; }
.ham-menu.active span:nth-child(3) { top: 10px; transform: rotate(-135deg); }

.off-screen-menu.active {
    right: 0;
}

@media (min-width: 641px) {
    .ham-menu { display: none; }
    .off-screen-menu {
        position: static;
        width: 250px;
        right: 0;
        height: auto;
    }
    .main-container { display: flex; }
}